<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="menion.android.whereyougo"
    android:installLocation="auto"
    android:versionCode="39"
    android:versionName="0.8.13">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_MOCK_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.PERSISTENT_ACTIVITY" />
    <uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="true" />

    <application
        android:name="menion.android.whereyougo.MainApplication"
        android:allowBackup="true"
        android:debuggable="true"
        android:icon="@drawable/icon"
        android:label="WhereYouGo"
        android:theme="@style/AppTheme"
        tools:replace="icon, label">
        <activity
            android:name="menion.android.whereyougo.gui.activity.MainActivity"
            android:label="WhereYouGo"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="menion.android.whereyougo.maps.mapsforge.MapsforgeActivity"
            android:launchMode="singleTask"
            android:theme="@style/Mapsforge" />
        <activity android:name="menion.android.whereyougo.maps.mapsforge.preferences.EditPreferences" />
        <activity android:name="menion.android.whereyougo.maps.mapsforge.filepicker.FilePicker" />
        <activity android:name="ar.com.daidalos.afiledialog.FileChooserActivity" />
        <activity
            android:name="menion.android.whereyougo.maps.mapsforge.InfoView"
            android:theme="@android:style/Theme.NoTitleBar" />
        <activity
            android:name="menion.android.whereyougo.gui.activity.CartridgeDetailsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="menion.android.whereyougo.gui.activity.wherigo.MainMenuActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name="menion.android.whereyougo.gui.activity.wherigo.DetailsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="menion.android.whereyougo.gui.activity.wherigo.InputScreenActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="menion.android.whereyougo.gui.activity.wherigo.ListActionsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="menion.android.whereyougo.gui.activity.wherigo.ListTargetsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="menion.android.whereyougo.gui.activity.wherigo.ListTasksActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Dialog" />
        <activity
            android:name="menion.android.whereyougo.gui.activity.wherigo.ListThingsActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Dialog" />
        <activity
            android:name="menion.android.whereyougo.gui.activity.wherigo.ListZonesActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Dialog" />
        <activity
            android:name="menion.android.whereyougo.gui.activity.wherigo.PushDialogActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="menion.android.whereyougo.gui.activity.GuidingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="menion.android.whereyougo.gui.activity.SatelliteActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="menion.android.whereyougo.network.activity.DownloadCartridgeActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="wherigo.com"
                    android:pathPrefix="/cartridge/download.aspx"
                    android:scheme="http" />
                <data
                    android:host="www.wherigo.com"
                    android:pathPrefix="/cartridge/download.aspx"
                    android:scheme="http" />
                <data
                    android:host="wherigo.com"
                    android:pathPrefix="/cartridge/details.aspx"
                    android:scheme="http" />
                <data
                    android:host="www.wherigo.com"
                    android:pathPrefix="/cartridge/details.aspx"
                    android:scheme="http" />

                <data
                    android:host="wherigo.com"
                    android:pathPrefix="/cartridge/download.aspx"
                    android:scheme="https" />
                <data
                    android:host="www.wherigo.com"
                    android:pathPrefix="/cartridge/download.aspx"
                    android:scheme="https" />
                <data
                    android:host="wherigo.com"
                    android:pathPrefix="/cartridge/details.aspx"
                    android:scheme="https" />
                <data
                    android:host="www.wherigo.com"
                    android:pathPrefix="/cartridge/details.aspx"
                    android:scheme="https" />
            </intent-filter>
        </activity>

        <service android:name="menion.android.whereyougo.audio.AudioPlayService" />

        <!-- <activity android:name="com.paypal.android.MEP.PayPalActivity"></activity> -->
        <activity
            android:name="menion.android.whereyougo.gui.activity.XmlSettingsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ThemeSettings" />
    </application>

</manifest>